@using DemoApp.Posts
@model DemoApp.Posts.PostContent

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div>
    @Html.Raw(PostRenderer.RenderPost(Model))
</div>
<p>
    @Html.ActionLink("Edit", "EditPost", new { id = ViewBag.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
